<div class="selector-content">
    <h4>Sidebar Content</h4>
    <div>
      <h5>Date range</h5>
      <p>Start date</p>
      <input type="date" class="form-control" id="startDate" name="startDate">
      <p>End date</p>
      <input type="date" class="form-control" id="endDate" name="endDate">
    </div>
    <p>Location</p>
    <p>Genre</p>
    @for (genre of genres; track genre.name){
        <label>
          <input type="checkbox" [(ngModel)]="genre.selected" (change)="onGenreCheckboxChange($event, genre)">
          {{ genre.name }}
        </label>
    }
    <p>Period</p>
    @for (period of periods; track period.name){
        <label>
          <input type="checkbox" [(ngModel)]="period.selected" (change)="onPeriodCheckboxChange($event, period)">
          {{ period.name }}
        </label>
    }
</div>