################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.docx
*.tmp

.vscode/settings.json
/backend/Project-Herald/WebAPI/wwwroot
