body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.app-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
}

app-herald {
    flex: 1;
    overflow: hidden;
}