body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.app-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
}

.name-text {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    font-size: 0.75em;
}

app-herald {
    flex: 1;
    overflow: hidden;
}